body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

/* Header */
header {
}

header .inner {
  width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}

header ul.menu {
  height: 44px;
  justify-content: space-between;
  display: flex;
}

header ul.menu li {
  border: 4px solid tomato;
  display: flex;
}

header ul.menu li a {
  display: flex;
  align-items: center;
  border: 4px solid skyblue;
  padding: 0 10px;
}
